body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
    background: red;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
    color: lime;
}

p {
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
    color: yellow;
}